*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f0f0f;
    color:#f5f5f5;
    font-family:Arial, sans-serif;
    line-height:1.8;
}

.hero{
    height:100vh;
    background:url('images/back_cover.jpeg') center center/cover;
    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay{
    text-align:center;
}

.hero h1{
    font-size:5rem;
    text-shadow:2px 2px 15px rgba(0, 0, 0, 0.651);
}

.hero p{
    font-size:2rem;
    text-shadow:1px 1px 10px rgba(0,0,0,0.8);
}

section{
    padding:80px 10%;
}

h2{
    margin-bottom:25px;
    font-size:2rem;
    text-align:center;
}

.rides p,
.contact p{
    max-width:800px;
    margin:auto;
    text-align:center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    max-width: 1600px;
    margin: auto;
}

@media (max-width: 1000px){

    .grid{
        grid-template-columns: repeat(2, 1fr);
    }

}

/* Mobile */

@media (max-width: 700px){

    .grid{
        grid-template-columns: 1fr;
    }

}

.grid img{
    width:100%;
    height:auto;
    border-radius:10px;
    transition:0.3s;
}

.grid img:hover{
    transform:scale(1.03);
}

blockquote{
    text-align:center;
    font-size:1.5rem;
    font-style:italic;
    margin-bottom:30px;
    color:#d4af37;
}

.contact{
    text-align:center;
}

footer{
    text-align:center;
    padding:25px;
    border-top:1px solid #333;
}

.about{
    text-align:center;
}

@media (max-width: 900px){

    .about-container{
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .profile-pic{
        order: -1;
    }

    .profile-pic img{
        width: 220px;
        height: 220px;
    }

}

.about-container{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:80px;
    max-width:1200px;
    margin:auto;
}

.about-text{
    flex:2;
}

.about-text p{
    font-size: 1.5rem;
    margin:15px auto;
    max-width:800px;
    text-align: center;
}

.profile-pic{
    justify-content:center;
}

.profile-pic img{
    width:300px;
    height:300px;
    border-radius:50%;
    object-fit:cover;
}

.wide-gallery{
    padding: 80px 8%;
}

.ride-story h2,
.gallery h2,
.wide-gallery h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
    color: #ffffff;
}

/* 3 images in a row */

.wide-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 1600px;
    margin: auto;
}

/* 16:9 Landscape Photos */

.wide-grid img{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 18px;
    transition: all 0.4s ease;
    cursor: pointer;
}

/* Hover Effect */

.wide-grid img:hover{
    transform: scale(1.03);
}

/* Tablet */

@media (max-width: 1000px){

    .wide-grid{
        grid-template-columns: repeat(3, 1fr);
    }

}

/* Mobile */

@media (max-width: 700px){

    .wide-grid{
        grid-template-columns: 1fr;
    }

}

.portrait-gallery{
    padding: 100px 8%;
}

.portrait-gallery h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
    color: #ffffff;
}

.portrait-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

    max-width: 1600px;
    margin: auto;
}

.portrait-grid img{
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    border-radius: 18px;
    transition: 0.4s ease;
    cursor: pointer;
}

.portrait-grid img:hover{
    transform: translateY(-6px);
}

/* Tablet */

@media (max-width: 1000px){

    .portrait-grid{
        grid-template-columns: repeat(3, 1fr);
    }

}

/* Mobile */

@media (max-width: 700px){

    .portrait-grid{
        grid-template-columns: 1fr;
    }

}

.ride-story{
    padding:150px 10%;
    text-align:center;
    position:relative;
}

.ride-story::before{
    content:'';
    width:200px;
    height:2px;

    background:linear-gradient(
        to right,
        transparent,
        #d4af37,
        transparent
    );

    position:absolute;
    top:60px;
    left:50%;
    transform:translateX(-50%);
}

.contact strong{
    color: #d4af37;
    font-weight: 700;
}

footer p{
    color: #d4af37;
    font-weight: 700;
}